@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts);
}

.header-welcome {
  display: flex;
  color: #28352f;
}

.menu-icon {
  position: absolute;
  width: 18px;
  height: 20px;
  bottom: 6641px;
  right: 35px;
  top: 40px;
  left: 322px;
}

.introduction-text {
  font-size: 40px;
  text-align: center;
  font-family: 'Inter Black', serif;
}

.dark-blue {
  color: #172b4d;
}

.main-page {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/header-files/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.green-content {
  color: #36b378;
}

.description-profession {
  font-family: 'Inter Medium', serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 50px;
  color: #172b4d;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 63%;
}

.down-arrow {
  padding-top: 50px;
}

aside ul li {
  display: inline-block;
  list-style-type: none;
  width: 30px;
}

h1 {
  font-weight: 600;
  padding-top: 20px;
  padding-left: 24px;
  font-size: 20px;
}
